:root {
  --primery-text-color: #153461;
  --title-color: #163561;
  --accent-title-color: #fbb400;
  --white: #ffffff;
  --hover-nav-bgc: #a3c1ef;
  --icon-bgc: #e5ecfe;
  --services-card-bgc: #fafbff;
  --hover-color: #99baed;
}

body {
  font-family: Catamaran, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.506;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.container {
  width: 1920px;
  margin: 0 auto;
}

/* =============header============ */

.user-menu,
.nav-links-list,
.header-navigation {
  display: flex;
  align-items: flex-end;
}

.logo {
  margin-left: 170px;
}

.logo-text {
  padding-bottom: 10px;
  margin-left: -33px;
}
.nav-links-list {
  margin-left: 110px;
}

.user-menu {
  margin-left: 400px;
}
.nav-links-list a {
  padding: 67px 14px 8px;

  font-weight: 500;
  font-size: 25px;
  line-height: 133.6%;
  color: var(--title-color);
}
.nav-links-list li:not(:last-child) {
  margin-right: 20px;
}
.nav-links-list a:hover,
.nav-links-list a:focus {
  background-color: var(--hover-nav-bgc);
  color: var(--white);
  border-radius: 5px;
}

.user-menu-item:not(:last-child) {
  margin-right: 72px;
}
.icon {
  background: var(--white);
  border: none;
}

.appointment {
  padding: 23px 33px;
  font-weight: 700px;
  font-size: 20px;
  color: var(--white);
  background: var(--hover-color);
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;

  box-shadow: 0px 15px 50px rgba(153, 186, 237, 0.5);
}

/* ==========Hero section========== */

.hero-title {
  font-weight: 700px;
  font-size: 75px;
  line-height: 133.6%;
  letter-spacing: 0;
  margin-bottom: 29px;
}

.headding-accent {
  color: var(--accent-title-color);
}

.hero > .container {
  background-image: url(../images/img-about.jpg);
  /* width: 1234px;
  height: 821px; */
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  padding-top: 161px;
  padding-bottom: 138px;
  padding-left: 188px;
  padding-right: 1156px;
}

.hero-text {
  margin-bottom: 97px;
}

/* ===========History section=========== */

.section-title {
  font-size: 70px;
  line-height: 1.506;
  margin-bottom: 80px;
  color: var(--title-color);
}

.our-history > .container {
  background: url(../images/top-left-corner.svg) left top,
    url(../images/top-right-corner.svg) right top, url(../images/img-history.jpg) left center;

  background-repeat: no-repeat;

  padding-top: 288px;
  padding-left: 1199px;
  padding-right: 195px;
  padding-bottom: 334px;
}

.history-text li:not(:last-child) {
  margin-bottom: 48px;
}

.history-text {
  margin-bottom: 108px;
}

/* ============Services section=========== */

.our-services > .container {
  padding-bottom: 272px;

  background: url(../images/bottom-left-corner.svg) bottom left,
    url(../images/bottom-right-corner.svg) bottom right;

  background-repeat: no-repeat;
}

.services {
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: center;
}

.services-list-item.active-anim {
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-list-item.active-anim:nth-child(2) {
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.services-list-item.active-anim:nth-child(3) {
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 126px;
  margin-bottom: 59px;
  background: var(--icon-bgc);
  border-radius: 13px;
  box-shadow: 0px 1px 0px #008fdd;
}

.services-list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 72px;
  padding-right: 41px;
  padding-left: 41px;
  width: 441px;
  transform: translate(600px, 0px);
  opacity: 0;
  overflow: hidden;

  background: var(--services-card-bgc);
  box-shadow: 0px 5px 0px #99baed;
  border-radius: 29px;
}

.services-list-item:not(:last-child) {
  margin-right: 45px;
}

.services-list-item:hover,
.services-list-item:focus {
  background-color: var(--hover-color);
  color: var(--white);

  box-shadow: 23px 39px 94px #d5e5ff;
}

.services-card-title {
  margin-bottom: 60px;
  font-size: 45px;
  line-height: 1.166;
  text-align: center;
  color: var(--title-color);
}

.services-list-item:hover > .services-card-title {
  color: var(--white);
}

.services-item-discription {
  text-align: center;
}

/* ============Gallery section=========== */
.our-gallery > .container {
  padding: 0 270px;

  background: url(../images/gallery-left-top.svg) right top,
    url(../images/footer-right-bottom.svg) left top;
  background-repeat: no-repeat;
}

.gallery {
  text-align: center;
  margin-bottom: 110px;
}

.gallery-image-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -37px;
  margin-bottom: -37px;
}

.gallery-image {
  display: block;
}

.gallery-image-item {
  position: relative;
  margin-right: 37px;
  margin-bottom: 37px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to right, rgba(82, 150, 255, 0.35), rgba(82, 150, 255, 0.35));
}
